
// Variáveis Personalizadas
$primary-color: #003b79;
$secondary-color: #091f33;
$lite-color: #f2f2ff;
$grey-color: #d4d2ce;
$green-color: #00a078;


// Reset básico de CSS
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at top left, #003b7a, transparent),
        radial-gradient(circle at bottom right, #0da1ac, transparent),
        linear-gradient(135deg, #d113f7 0%, #ff0fdf 100%);
    background-size: cover;
    background-attachment: fixed;
    color: $primary-color;
}

.cab {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 99;
}

// Estilizando a Navbar
.navbar {
    top: 3.5%;
    position: fixed;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    backdrop-filter: blur(10px); // Applies blur effect
    -webkit-backdrop-filter: blur(10px); // Safari support

    .navbar-brand {
        font-size: 1.5rem;
        color: $lite-color;
        text-shadow: 0 2px 2px $secondary-color;
    }

    a {
        color: $lite-color;
        text-shadow: 0 2px 2px $secondary-color;
        font-size: 1.2rem;

        &:hover {
            color: $grey-color;
        }
    }
    a.nav-link.active {
        border-radius: 8px;
        margin-top: 4px;
    }
}

// Hero Section
.hero {
    color: $lite-color;
    padding-top: 8rem;

    h1 {
        font-size: 4rem;
        font-weight: 700;
        text-shadow: 0 2px 2px $secondary-color;
    }

    p {
        font-size: 2rem;
        font-weight: 400;
    }
}

// Categories Section
.categories {
    i {
        color: $green-color;
        text-shadow: 0 1px 1px $lite-color;
    }

    .slogan {
        font-size: 1.5rem;
        font-weight: 400;
        color: $lite-color;
        padding: 2rem 1rem;
    }

    .card {
        transition: box-shadow 0.3s ease;
        background-color: transparent;
        border: none;
        background: radial-gradient(circle at top left, hsla(0, 0%, 100%, 0.8), transparent),
            radial-gradient(circle at bottom right, hsla(169, 28%, 92%, 0.6), transparent),
            linear-gradient(135deg, hsla(73, 100%, 89%, 0.7) 0%, hsla(101, 31%, 86%, 0.7) 100%);
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 0 4px 4px $primary-color;

        &:hover {
            box-shadow: 0 4px 8px $secondary-color;
        }

        .card-body {

            border-radius: 8px;
        }

        .card-title {
            color: $primary-color;
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 700;
            background: linear-gradient(90deg, $grey-color 0%, hsla(40, 6%, 81%, 0.8) 80%);;
            width: 100%;
            border-radius: 8px;
            padding: 0.5rem;
            text-shadow: 0 1px 1px $lite-color;
        }

        p {
            font-size: 1rem;
            color: $secondary-color;
            font-weight: 400;
        }

        ul {
            padding: 0;

            li {
                margin-bottom: 0.5rem;

                a {
                    display: block; // Torna o link um elemento de bloco
                    width: 100%; // Ocupa toda a largura do pai
                    padding: 0.5rem 1rem; // Espaçamento interno
                    color: $lite-color;
                    border-radius: 0.5rem;
                    transition: background-color 0.3s, color 0.3s;
                    text-decoration: none;
                    background: linear-gradient(180deg, #0c3155 0%, $primary-color 70%);
                    border: 2px solid $primary-color;
                    font-size: 1.1rem;
                    font-weight: 500;
                    transition: transform 0.1s ease, hover 0.1s ease;

                    &:hover {
                        background: $secondary-color;
                        transform: scale(0.99);
                    }

                    // Para dispositivos móveis, aumentar a área clicável
                    @media (max-width: 768px) {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

.seo-banner {
    img {
        width: 100%;
        height: 15rem;
        /* Definimos a altura da imagem */
        object-fit: cover;
        /* Isso garante que a imagem seja cortada ao invés de distorcida */
        object-position: center;
        /* Centraliza a imagem */
    }
}

.seo-content {
    color: $lite-color;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        text-shadow: 0 2px 2px $secondary-color;
    }

    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.copy {
    background-color: transparent;
    padding: 1rem 0;
    text-align: center;
    padding-bottom: 60px;

    a {
        text-decoration: none;
        color: $lite-color;
    }

    p {
        margin: 0;
        font-size: 1rem;
        color: $lite-color;
        font-weight: bold;
    }
}

// Footer
footer {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(10px); // Applies blur effect
    -webkit-backdrop-filter: blur(10px); // Safari support

    img {
        width: 2.5rem;
    }

    p {
        margin: 0;
    }
}

// Responsividade
@media (max-width: 768px) {
    .hero {
        padding-top: 10rem;
    }
    
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }
}